* {
    margin: 0;
  }
  
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

a,
button {
  cursor: revert;
}

figure {
    max-width: 100%;
}

p {
    margin: 16px 0;
}
  
.wrapper {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.header {
    background-color: rgba(0, 0, 0, 0.0001);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
}
  
.header-list {
    list-style: none;
    display: flex;
    gap: 72px;
}

.link {
    text-decoration: none;
    color: red;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
  
.link:hover {
    color: #b10606;
    transition: all 0.3s ease-in-out;
}
  
.picture {
    background-image: url(../css/img/image\ 1.png);
    height: 789px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.main-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin: 18px 0;
}
  
.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 2.4px;
    text-align: center;
    color: #373737;
}
  
.btn {
    display: block;
    padding: 18px 44px 17px 43px;
    margin: 0 auto;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transition: 0.3s;
}
  
.btn:hover {
    background-color: #b10606;
    cursor: pointer;
    transition: 0.3s;
}

.footer-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 2.4px;
    text-align: right;
  
    color: #373737;
}
  